* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    height: 100vh;
    width: 100vw;
    background-image: url('img3.jpeg');
    background-repeat: no-repeat;
    background-size: 2000px;
}

nav {
    max-width: 100vw;
    margin: auto;
    padding: 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(54, 23, 1);
    text-decoration: none;
}

.logo a:hover {
    color: rgb(234, 13, 13);
}

.one {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.one a {
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: black;

}

.one a:hover {
    color: rgb(247, 5, 5);
}

.one .button {
    padding: .5rem 2rem;
    background: rgb(104, 167, 239);
    color: black;
    font-size: x-large;
    border-radius: 26px;

}

.one .button:hover {
    background: rgb(195, 161, 38);
}

.second {
    max-width: 100vw;
    padding: 1rem;
    gap: 5rem;
    display: grid;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    color: darkblue;
    margin-bottom: 1.3rem;
}

.heading3 {
    font-weight: 700;
    margin-bottom: 1.3rem;
    color: darkblue;
    line-height: 4rem;
}

.heading4 {
    font-weight: 700;
    margin-bottom: 1.3rem;
    color: darkblue;
}

.heading1 {
    font-weight: 700;
    margin-bottom: 1.3rem;
    color: darkblue;
}

.heading2 {
    font-weight: 700;
    margin-bottom: 1.3rem;
    color: darkblue;
}


.container p {
    font-size: 1.5rem;
    color: rgb(14, 14, 15);
    font-weight: 600;
    margin-bottom: 1rem;
    width: 50vw;

}

.container form {
    display: flex;
    align-items: center;
}

.container input {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    font-size: 1rem;

}

.container button {
    width: fit-content;
    padding: 1rem;
    font-size: 1rem;
    background-color: burlywood;
    color: black;
    cursor: pointer;

}

.items {
    position: relative;
    gap: 2rem;
    place-content: center;

}

.items ul {
    text-align: left;
    list-style: circle;
    margin-top: 40px;
    margin-left: 23px;
    font-size: 2rem;
    font-style: italic;
}